.title {
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
    font-size: 30px;
}

.title h3 {
    font-size: 30px;
    font-weight: bold;
}

.form {
    width: 80%;
    margin: 0 auto
}

.img {
    font-weight: bold;
    color: #252525
}

.placeholder {
    width: 200px;
    height: 200px;
    background-color: rgb(226, 223, 223);
    border: 2px solid #ccc;
    margin-top: 10px
}

.table {
    margin-top: 20px;
}