.container {
    position: fixed;
    left: 87%;
    top: 50%;
    padding: 12px 10px 10px 10px;
    background-color: rgb(169, 207, 250, 0.5);
    z-index: 1;    
    border-radius: 50%;
}

.nav {
    display: block;
    padding: 10px 30px;
    background-color: rgba(3, 250, 16, 0.5);
    color: #fff;
    font-weight: bold;
    border-radius: 50% 50% 0 0;
    margin-bottom: 5px;
    cursor: pointer
}

.next {
    border-radius: 0 0 50% 50%;
}