.link {
    text-decoration: none;
    margin: 0 10px
}

.link:hover {
    text-decoration: none;
}

.auth {
    background-color: #f3f5f8;
    color: #9b9b9b;
    border: none;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: medium;
    border-left: 3px solid #40ba37;
   
    line-height: 50px;
    margin: 0 2px;
    margin-bottom: 0px;
    border-radius: 0;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
    text-align: center
}

.auth:hover {
    background-color: #40ba37;
    color: #ffffff;
    border-left: 3px solid #1c8314;
    text-decoration: none;
}

.active {
    background-color: #40ba37;
    color: #ffffff;
    border-left: 3px solid #1c8314;
    
    line-height: 50px;
    margin: 0 2px;
    margin-bottom: 0px;
    border-radius: 0;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
    text-align: center
}