.link {
    text-decoration: none;
    margin: 0 10px;
}

.link:hover {
    text-decoration: none;
}

.auth {
    background-color: #f3f5f8;
    color: #9b9b9b;
    border: none;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: medium;
    border-left: 3px solid #40ba37;
    line-height: 50px;
    margin: 0 2px;
    margin-bottom: 0px;
    border-radius: 0;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
    text-align: center
}

.auth:hover {
    background-color: #40ba37;
    color: #ffffff;
    border-left: 3px solid #1c8314;
    text-decoration: none;
}

.active {
    background-color: #40ba37;
    color: #ffffff;
    border-left: 3px solid #1c8314;
    line-height: 50px;
    margin: 0 2px;
    margin-bottom: 0px;
    border-radius: 0;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
    text-align: center
}

.shopping-list {
    cursor: ponter;
    color: #10942c;
}

.shopping-list:hover {
    text-decoration: underline;
    color: #10942c;
}

.recipe {
    color: #423d3d;
    font-weight: bold;
}

.pagination {
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #007bff;
    margin: 0;
}

.pagination:hover {
    background-color: #007bff;
    color: #fff
}

.error {
    color: rgb(248, 20, 20)
}